.hero {
    padding: 30px 0;
    background-image: linear-gradient(to right, #5637DD, #3046C5, #60106B);
    margin-bottom: 0;
    color: white;

    .content-container {
        display: flex;
        align-items: center;
        gap: 50px;
    }
}
