:root {
    --primary-color: #3046C5;
    --header-gradient-start: #5637DD;
    --header-gradient-end: #60106B;
}
$color-primary: #3046C5;
$color-secondary: #5637dd;
$color-pale: #CEC8FF;
$color-mid: #901CAD;
$color-dark: #60106b;
$color-black-transparent: rgba(0, 0, 0, 0.5);

$body-font: "Open Sans", sans-serif;
$header-font: "Lobster", cursive;


body {
    font-family: $body-font;
}

h1, h2, h3 {
    font-family: $header-font;
}
h2 {
    color: $color-primary;
}

header {
    h2 {
        color: $color-pale;
    }
}



.content-container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}
.navbar {
    background-color: $color-mid;
}


address {
    font-style: normal;
}
.carousel {
    border: solid $color-secondary;
}

.carousel-caption {
    background-color: $color-black-transparent;
}
