:root {
    --primary-color: #3046C5;
    --header-gradient-start: #5637DD;
    --header-gradient-end: #60106B;
}

body {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
    font-family: "Lobster", cursive;
}

.content-container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}
.navbar {
    background-color: #901CAD;
}

address {
    font-style: normal;
}
